.Contenedor {
  text-align: center;
  background: black;
}

.Contenedor div {
  display: inline-block;
  font-size: 60px;
  line-height: 50px;
  height: 70px;
  background: #101010;
  color: white;
  padding: 10px;
  margin: 3px;
}
